<!DOCTYPE html>
<html ang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>问答网</title>
	<link rel="stylesheet" type="text/css" href="../css/login_res.css">
</head>
<body>
	
	<div class="index_nickname" th:switch="${user}">
		<div th:case="null">
			<a href="/login" class="login_title">登录</a>
			<em class="symbol">/</em>
			<a href="/register" class="register_title">注册</a>
		</div>
		<div th:case="*" > 
			<a href="/success" th:text="${user.nickname}" class="index_nickname_title">登录</a>
				<em class="symbol">/</em>
			<a href="/logout.action" class="logout_title">退出</a>
		</div>
	</div>
</body>
</html>